.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 0 20px;
  border-radius: 6px;
}
.containerButton:hover {
  background-color: var(--color-primary-hover);
}
